In [39]:
import scanpy as sc
import pandas as pd
import anndata as ad

In [40]:
data_path1 = 'C:/Users/Administrator/Desktop/code/seqfish+/sourcedata'
data_path2 = 'C:/Users/Administrator/Desktop/code/seqfish+/celltype_annotations'

In [41]:
cellcentroids_file = 'cortex_svz_cellcentroids.csv'
counts_file = 'cortex_svz_counts.csv'
annotations_file = 'cortex_svz_cell_type_annotations.csv'

In [42]:
cellcentroids = pd.read_csv(f'{data_path1}/{cellcentroids_file}')
counts = pd.read_csv(f'{data_path1}/{counts_file}')
annotations = pd.read_csv(f'{data_path2}/{annotations_file}')

In [43]:
cellcentroids

     Field of View  Cell ID        X        Y          Region
0                0        1  1305.70   414.98          Cortex
1                0        2   669.51   457.53          Cortex
2                0        3  1185.90   507.11          Cortex
3                0        4   710.24   533.06          Cortex
4                0        5   763.87   569.15          Cortex
..             ...      ...      ...      ...             ...
908              6      105  1505.30  1409.30  Choroid Plexus
909              6      106  1344.30  1429.50  Choroid Plexus
910              6      107  1409.30  1454.20  Choroid Plexus
911              6      108   389.93  1667.50  Choroid Plexus
912              6      109   447.85  1672.30  Choroid Plexus

[913 rows x 5 columns]

In [44]:
counts

,1700022a21rik,1700025g04rik,4933401b06rik,5830417i10rik,9330102e08rik,9430018g01rik,9430083a17rik,Aanat,Aasdh,Aatf,...,Tyrp1,Ubqlnl,Ptgdr,P2ry4,Prdm6,Pde6b,Zp1,Dlx4,Opn1sw,Pramef12
0,3,1,2,0,1,1,1,0,2,0,...,0,0,1,0,0,0,0,0,0,1
1,1,0,0,0,0,0,0,0,0,0,...,1,1,0,1,1,0,0,0,0,0
2,0,0,1,1,0,0,0,0,0,0,...,2,2,1,1,0,0,1,0,1,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,1,1,0,3,0,...,1,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
908,0,0,0,2,0,0,0,0,0,2,...,0,0,1,0,0,0,1,0,0,0
909,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
910,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
911,0,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,1
912,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [45]:
annotations

     index  louvain
0        0       13
1        1        3
2        2        3
3        3        7
4        4        6
..     ...      ...
908    908        1
909    909        1
910    910        2
911    911        1
912    912       20

[913 rows x 2 columns]

In [46]:
id_array = counts._stat_axis

In [47]:
id_array

RangeIndex(start=0, stop=913, step=1)

In [48]:
gene_id_array = counts.columns

In [49]:
gene_id_array

Index(['1700022a21rik', '1700025g04rik', '4933401b06rik', '5830417i10rik',
       '9330102e08rik', '9430018g01rik', '9430083a17rik', 'Aanat', 'Aasdh',
       'Aatf',
       ...
       'Tyrp1', 'Ubqlnl', 'Ptgdr', 'P2ry4', 'Prdm6', 'Pde6b', 'Zp1', 'Dlx4',
       'Opn1sw', 'Pramef12'],
      dtype='object', length=10000)

In [50]:
count_X = counts.values.astype('float32')

In [51]:
adata = ad.AnnData(count_X)
adata.var_names = gene_id_array
adata.obs_names = id_array

In [52]:
adata.obs['Field of View'] = cellcentroids.loc[adata.obs_names].loc[:,'Field of View']
adata.obs['Cell ID'] = cellcentroids.loc[adata.obs_names].loc[:,'Cell ID']
adata.obs['Region'] = cellcentroids.loc[adata.obs_names].loc[:,'Region']
adata.obs['louvain'] = annotations.loc[adata.obs_names].loc[:,'louvain']

In [53]:
adata.obsm['spatial'] = cellcentroids.loc[adata.obs_names].loc[:,['X','Y']]

In [54]:
adata

AnnData object with n_obs × n_vars = 913 × 10000
    obs: 'Field of View', 'Cell ID', 'Region', 'louvain'
    obsm: 'spatial'

In [55]:
save_path = 'C:/Users/Administrator/Desktop/code/mouse somatosensory cortex(seqfish+)/eng2019transcriptome_seqFISH+_cortex_svz_cell.h5ad'

In [56]:
adata.write_h5ad(save_path)