In [15]:
import scanpy as sc
import pandas as pd
import anndata as ad

In [16]:
data_path1 = 'C:/Users/Administrator/Desktop/code/seqfish+/sourcedata'
data_path2 = 'C:/Users/Administrator/Desktop/code/seqfish+/celltype_annotations'

In [17]:
cellcentroids_file = 'ob_cellcentroids.csv'
counts_file = 'ob_counts.csv'
annotations_file = 'OB_cell_type_annotations.csv'

In [18]:
cellcentroids = pd.read_csv(f'{data_path1}/{cellcentroids_file}')
counts = pd.read_csv(f'{data_path1}/{counts_file}')
annotations = pd.read_csv(f'{data_path2}/{annotations_file}')

In [19]:
cellcentroids

      Field of View  Cell ID        X        Y
0                 0        1  1766.40   283.42
1                 0        2  1891.40   348.38
2                 0        3  1548.70   351.11
3                 0        4  1657.60   357.37
4                 0        5  1767.40   392.22
...             ...      ...      ...      ...
2045              6      187   339.97  1532.30
2046              6      188   608.31  1544.70
2047              6      189   779.11  1551.90
2048              6      190   691.00  1575.60
2049              6      191  1295.60  1374.70

[2050 rows x 4 columns]

In [20]:
counts

,1700022a21rik,1700025g04rik,4933401b06rik,5830417i10rik,9330102e08rik,9430018g01rik,9430083a17rik,Aanat,Aasdh,Aatf,...,Tyrp1,Ubqlnl,Ptgdr,P2ry4,Prdm6,Pde6b,Zp1,Dlx4,Opn1sw,Pramef12
0,0,0,0,2,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2045,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2046,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2047,0,0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2048,0,0,2,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2049,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [21]:
annotations

      index  louvain
0         0       10
1         1        3
2         2        1
3         3       15
4         4        5
...     ...      ...
2045   2045        9
2046   2046        9
2047   2047        9
2048   2048        9
2049   2049        9

[2050 rows x 2 columns]

In [22]:
id_array = counts._stat_axis

In [23]:
id_array

RangeIndex(start=0, stop=2050, step=1)

In [24]:
gene_id_array = counts.columns

In [25]:
gene_id_array

Index(['1700022a21rik', '1700025g04rik', '4933401b06rik', '5830417i10rik',
       '9330102e08rik', '9430018g01rik', '9430083a17rik', 'Aanat', 'Aasdh',
       'Aatf',
       ...
       'Tyrp1', 'Ubqlnl', 'Ptgdr', 'P2ry4', 'Prdm6', 'Pde6b', 'Zp1', 'Dlx4',
       'Opn1sw', 'Pramef12'],
      dtype='object', length=10000)

In [26]:
count_X = counts.values.astype('float32')

In [27]:
adata = ad.AnnData(count_X)
adata.var_names = gene_id_array
adata.obs_names = id_array

In [28]:
adata.obs['Field of View'] = cellcentroids.loc[adata.obs_names].loc[:,'Field of View']
adata.obs['Cell ID'] = cellcentroids.loc[adata.obs_names].loc[:,'Cell ID']
adata.obs['louvain'] = annotations.loc[adata.obs_names].loc[:,'louvain']

In [29]:
adata.obsm['spatial'] = cellcentroids.loc[adata.obs_names].loc[:,['X','Y']]

In [30]:
adata

AnnData object with n_obs Ã— n_vars = 2050 Ã— 10000
    obs: 'Field of View', 'Cell ID', 'louvain'
    obsm: 'spatial'

In [31]:
save_path = 'C:/Users/Administrator/Desktop/code/mouse olfactory bulb(seqfish+)/eng2019transcriptome_seqFISH+_ob_cell.h5ad'

In [32]:
adata.write_h5ad(save_path)